// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.background {
	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #9CE5F4 100%);
}
.error-message {
	font-size: smaller;
	font-weight: bold;
	background-color: #F3B45B;
	padding: 0.75em;
	color: #222; 
}
.fl { float: left; }
.fr { float: right; }
.fr::after {clear: both;}
.clr, .clear { clear: both; }
.ib { display: inline-block; }

.mandatory {
	color: red;
	font-size: 3rem;
	display: inline-block;
}
.fru-mandatory ion-input {
  float: left;
  width: 94%;
}
.fru-mandatory .mandatory {
  margin-top: 1rem;	/* moves inline with the control */
  float: right;
}
.mpg-bad  { color: red; }
.mpg-ok   { color: orange; }
.mpg-good { color: green; }

.mpgbadge-bad  { background-color: #fd5050; color: #fff; }
.mpgbadge-ok   { background-color: #ff7900; color: #fff; }
.mpgbadge-good { background-color: #3d7d1e; color: #fff; }

ion-icon.large:before {
	font-size: xx-large;
}

ion-input[type="text"], 
ion-input[type="number"],
ion-input[type="tel"] {
  background-color: #DDF9FF;
  font-size: 2rem;
}
ion-input.number input[type="text"], 
ion-input.number input[type="number"],
ion-input.number input[type="tel"] {
  text-align: right;
}

ion-input {
  padding-left: 1em;
  border: solid 1px #ddd;
}
ion-input.ng-valid {
  border-left: 5px solid #42A948;
}
ion-input.ng-invalid {
  border-left: 5px solid #a94442;
}

