<ion-header>
	<ion-navbar>

		<button ion-button text-left [menuToggle]="menu1">
			<ion-icon name="menu"></ion-icon>
		</button>
		
		<ion-title text-center>
			<product-name-ion></product-name-ion>
		</ion-title>
		
		<ion-buttons end>
			<button ion-button text-right menuToggle="menu2">
				<ion-icon name="funnel"></ion-icon>
			</button>
		</ion-buttons>

	</ion-navbar>
</ion-header>

<ion-content *ngIf="hasFills((_app$|async).fills)" class="background container content animated fadeIn medium" padding>

	<!--	
		Note:
		[selectedValue] _has_to_be_a_string_
		in the segment-list.
	-->
	<segment-list-ion *ngIf="!hasFiltersActive(_currFilters)"
		[segments]="(_app$|async)?.years"
		[selected-value]="getSelectedYearAsString( (_app$|async)?.selectedYear )"
		[show-when-single]="false"
		(select)="onChangeYear($event)">
	</segment-list-ion>

	<ion-segment *ngIf="hasFiltersActive(_currFilters)">
		<ion-segment-button (click)="onRemoveFilters()">
			Turn off filters
		</ion-segment-button>
	</ion-segment>

	<fill-list-ion 
		[history]="(_app$|async)?.fills"
		[show-fills]="(_app$|async)?.showFills"
		[measurement]="(_app$|async)?.measurement"
		(on-toggle)="onItemToggle($event)">
	</fill-list-ion>

</ion-content>

<ion-content class="content" *ngIf="!hasFills((_app$|async).fills)" class="background container animated fadeIn medium" padding>
	<ion-card *ngIf="!hasFiltersActive(_currFilters)">
		<ion-card-header>
			No History
		</ion-card-header>
		<ion-card-content>
			<p>
				You haven't recorded any fills up yet.
			</p>
			<div text-right style="padding-top: 10rem">
				<button ion-button secondary text-right (click)="gotoFillUp()">Fill Up</button>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="hasFiltersActive(_currFilters)">
		<ion-card-header>
			No Results
		</ion-card-header>
		<ion-card-content>
			<p>
				Filter shows no results.
			</p>
			<div text-right style="padding-top: 10rem">
				<button ion-button secondary text-right (click)="onRemoveFilters()">Turn off filters</button>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
